[submodule "android/platform/dalvik"]
	path = android/platform/dalvik
	url = https://android.googlesource.com/platform/dalvik
[submodule "android/platform/libcore"]
	path = android/platform/libcore
	url = https://android.googlesource.com/platform/libcore
